/* 10 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Logo do projeto */
.logo {
    color: #000000;
    font-size: 3.0rem;
    font-weight: 750;
    letter-spacing: -1px;
    font-family: 'Dancing Script', cursive;
}

/*parte superior que contem o menu */

header {
    background-color: var(--white);
    padding: 1.2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(19, 18, 18, 0.1);
}

/* Seção hero da pagina onde contem a imagem de fundo do site e o degrade de baixo pra cima*/
.hero {
    margin-top: 80px;
    background: linear-gradient(rgba(127, 118, 118, 0.9), rgba(0, 0, 0, 0.9)),
    url('/img/Backgorund.png') center/contain;
    padding: 10rem 5%;
    text-align: center;
    color: white;
}

@keyframes chromaWave {
   
    0% {
        background-position: -100%;
    }
    
    100% {
        background-position: 200%;
    }

}

/* texto com a imagem de fundo da loja */
.hero h1 {
    display: block; /* Mantém como bloco */
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    letter-spacing: -1px;
    position: relative;
    /* Remova o inline-block duplicado */
    background: linear-gradient(136deg, #2c2b2b, #ffffff, hsl(272, 93%, 51%));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: chromaWave 7s infinite linear;   
    transform: scale(1); /* Estado padrão */
    transition: transform 0.8s, box-shadow 0.3s;
}
.hero h1:hover{
    transition: transform 0.8s,box-shadow 0.3s;
    transform: scale(1.1);
}

/* texto com o subtitulo ondem contem a imagem de fundo da loja */  
.Subtitle-hero {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    position: relative;
    display: block; /* Alterado para bloco */
    background: linear-gradient(136deg, #2c2b2b, #ffffff, hsl(272, 93%, 51%));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: chromaWave 7s infinite linear;
}