<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urban Souls - Login</title>
    <link rel="stylesheet" href="/test/view/Css/Login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <section class="login-container">
      <div class="form-box">
        <h2 class="form-title">Login</h2>

        <form id="loginForm" class="form-content">
          <div class="input-group">
            <label for="emailLogin">Email</label>
            <input
              type="email"
              id="emailLogin"
              name="email"
              placeholder="Digite seu email"
              required
            />
          </div>

          <div class="input-group">
            <label for="passwordLogin">Senha</label>
            <input
              type="password"
              id="passwordLogin"
              name="password"
              placeholder="Digite sua senha"
              required
            />
          </div>

          <button type="submit" class="btn-primary">Entrar</button>
        </form>

        <p class="form-footer-text">
          Não é cliente ainda?
          <a href="/test/view/RegisterForm.html"> Preencha o formulário</a>
        </p>
      </div>
    </section>
  </body>
</html>
